aioredis==1.3.0
asgiref==3.2.2
async-timeout==3.0.1
attrs==19.3.0
autobahn==19.10.1
Automat==0.7.0
certifi==2021.5.30
cffi==1.13.0
channels==2.3.0
channels-redis==2.4.0
charset-normalizer==2.0.6
Click==7.0
constantly==15.1.0
cryptography==2.8
daphne==2.3.0
dash==2.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.1.2
dash-table==5.0.0
Django==2.2.6
django-autoslug==1.9.8
django-dash==0.6.1
django-nine==0.2.5
django-plotly-dash==1.6.1
django-redis==4.10.0
django-tinymce==3.3.0
dpd-components==0.1.0
easy-thumbnails==2.7.1
feedparser==6.0.8
Flask==1.1.1
Flask-Compress==1.4.0
future==0.18.1
hiredis==1.0.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
msgpack==0.6.2
numpy==1.21.2
pandas==1.3.3
pif==0.8.2
Pillow==8.3.2
plotly==5.3.1
psycopg2-binary==2.9.1
pycparser==2.19
PyHamcrest==1.9.0
python-dateutil==2.8.2
pytz==2019.3
redis==3.3.11
requests==2.26.0
retrying==1.3.3
sgmllib3k==1.0.0
six==1.12.0
sqlparse==0.3.0
tenacity==8.0.1
transliterate==1.10.2
Twisted==19.7.0
txaio==18.8.1
Unidecode==1.3.2
urllib3==1.26.7
vishap==0.1.5
Werkzeug==0.16.0
zope.interface==4.6.0
